.App {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}


.element {
  text-align: center;
  font-size: 8px;
  background-color: lightgray;
  border: #282c34 1px solid;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}


.element-2 {
  grid-column-start: -1;
}


.element-3 {
  grid-row-start: 2;
}

.element-4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.element-5 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
}

.element-6 {
  grid-column-start: 14;
}

.element-7 {
  grid-column-start: 15;
  grid-column-end: 15;
  grid-row-start: 2;
}

.element-8 {
  grid-column-start: 16;
  grid-column-end: 16;
  grid-row-start: 2;
}

.element-9 {
  grid-column-start: 17;
  grid-column-end: 17;
  grid-row-start: 2;
}

.element-10 {
  grid-column-start: -1;
  grid-row-start: 2;
}
